body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
}

/* ------- General Structure and Visual Changes ------- */

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    height: 24px;
    /* background: #4B5320; */
    background-color: #0f2412;
}

.header .menu {
    display: flex;
    list-style: none;
    gap: 12px;
    text-decoration: none;
    color: #c4c4c4;
    font-size: 18px;
}

/* Content */

.content {
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 20px 100px;
    /* background-color: #4B5320; */
    background-color: #0f2412;
    
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 20px 100px;
}

.info .container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}


.quote {
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    gap: 16px;
    padding: 20px 100px;
    background-color: rgba(38, 56, 38, 0.644);
}

.sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 50px 200px;
    padding: 20px 50px;
    border-radius: 10px;
    /* background-color: #0f2412; */
    background-color: #4B5320;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    height: 42px;
    /* background-color: #4B5320 */
    background-color: #0f2412;
}

/* ------- Specific Visual Changes ------- */

/* Images */

.header .logo img {
    width: 80px;
    height: 80px;
}

.intro img,
.info .container .infobox img {
    width: 200px;
    height: 200px;
    border: 4px solid #4B5320;
    padding: 10px;
    border-radius: 15px;
}

.intro .mediabox img {
    border: none;
    width: 600px;
    height: 300px;
}

/* Buttons */

.intro .textbox button, 
.sign button {
    /* background-color: #0f2412; */
    background-color: #4B5320;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
}

.sign button {
    border: 1px solid #c4c4c4;
}

/* Text */

.header,
.intro,
.info,
.sign {
    text-align: center;
    font-family: 'Roboto', arial;
}

.intro h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    margin-top: 0;
}

.intro h2 {
    color: #f2f2f2;
    font-size: 24px;
    font-weight: 100;
}

.info h1 {
    font-size: 42px;
    font-weight: bold;
    color: #0f2412;
}

.info h2 {
    font-size: 18;
    font-weight: 200;
    text-align: center;
    max-width: 220px;
    color: #333333;
}

.quote h1 {
    font-style: italic;
    font-weight: 100;
    font-size: 32px;
    padding-top: 0px;
}

.quote h2 {
    font-size: 16px;
    font-weight: 900;
    text-align: right;
}

.sign h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}

.sign h2 {
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    color: #f2f2f2;
}